.form-container{
    display: flex;
    justify-content: center;
    background-color: var(--clr2);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    .filter-form{
        display: flex;
   
       gap:65px;
  
    }
   input{
   
        min-height: 45px;
        border: 2px solid lightblue;
        border-radius: 7px;
        text-indent: 20px;
        font-size: large;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.168627451);
    }
}