.form-container{
    grid-column: 2;
  
    background-color: var(--clr2);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .filter-form{
        display: flex;
   justify-content: space-around;
  
    }
   input{
   
        min-height: 45px;
        border: 2px solid lightblue;
        border-radius: 7px;
        text-indent: 20px;
        font-size: large;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.168627451);
    }
}