.contact-card {
    background: #03a9f414;
    box-shadow: 0 0 11px #0000002b;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    border-radius: 5px;


    .contact-card-user-img {
        width: 50px;
        grid-column: 1;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 500px;

        }
    }

    .contact-card-user-name {
        grid-column: 2;
        grid-row: 1;
        justify-content: center;
        align-items: center;
        font-family: Circular-Med;
        font-size: 1em;
        margin: 0;
    }

    .contact-card-user-email {
        font-family: Circular-Light;
        grid-column: 3;
        justify-content: center;
        align-items: center;
    }

    .actions {
        .details-link{
            font-family: Circular-Light;
        }
        .details-Edit-link{
            font-family: Circular-Light;
        }
        grid-column: 5;
        justify-content: space-around;
        align-items: center;

    }
    .contact-card-user-phone {
        font-family: Circular-Light;
        grid-column: 4;
        justify-content: center;
        align-items: center;
    }
    .transfer-btn{
        grid-column: 6;
        border:none;
        background-color: transparent;
        cursor: pointer;
    }
}
.contact-card:hover{
    scale: 1.005;

}








p {
    text-align: center;
    font-family: Circular Med;
    font-size: 1.2em;
    color: var(--clr1);
}