@font-face {
    font-family: Circular-Light;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1680541583/CircularAir-Light_rd34bq.ttf);
  }
@font-face {
    font-family: Circular-Med;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1680541315/Airbnb_Cereal-Medium_zgnvkc.ttf);
  }