// primery
:root{
    --clr1:#ff8080f2;
    --clr2:#b651c2;
    --clr3:#222;
    --clr4:rgb(249, 247, 246);
    --clr5:#ededed;
    --clr6:rgb(249, 247, 246);
    --clr7:rgb(61, 137, 245);
    --clr8:rgb(153, 153, 153);

}
