.charts-container{
    grid-column:1/-1;
    height: 20vh;
    background-color: var(--clr2);
    .charts-header{
        text-align: center;
    }
}
.confirmed-tens-chart-conatiner{
    grid-column: 2;
    height: 60vh;
    margin-block-start: 30px;
}